#image-container {
  display: flex;
  justify-content: center;
}

#image-container img {
  height: 250px;
  margin: 0 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px; #7777FF;
  cursor: pointer;
}

h1 {
  font-family: arial;
  text-align: center;
}

h2 {
  font-family: arial;
  text-align: center;
}


legend, p {
  text-align: center;
}
