#image-container {
  display: flex;
  justify-content: center;
}

#image-container img {
  height: 250px;
  margin: 0 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px; #7777FF;
  cursor: pointer;
}

h1 {
  font-family: arial;
  text-align: center;
}

h2 {
  font-family: arial;
  text-align: center;
}

#progress-container {
box-shadow: 0 0 4px aqua;
border-radius: 13px;
position: relative;
height: 26px;
}

#progress-bar {
border-radius: 13px;
height: 26px;
width: 0;
background-color: aqua;
position: absolute;
top: -1px;
right: 0;
z-index: -1;
}
